.row div.clearHover:hover {
	transform: scale(1);
	box-shadow: none;
	cursor: default;
}

p {
	font-size: 1.4em;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
}
.header {
	font-size: 1.4em;
}

.col-sm-4, .col-sm-6, .col-sm-12 {
	text-align: center;
}

label {
	width: 50px;
	vertical-align: top;
}

#contactName, #contactEmail, #contactContent {
	width: 70%;
}

button {
	/* margin-left: 5%; */
}

hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

.contacts {
	font-size: 1.2em;
}

/* .left {
	text-align: left;
	display: inherit;
} */

.center {
	text-align: center;
	display: block;
}

.days {
	/* width: 50%; */
	display: inline-block;
	width: 57%;
	text-align: left;	
}

.hours {
	/* width: 50%; */
	display: inline-block;
	padding-left: 40px;
}

#firstiFrame {
	/* width:800px; 
	height:600px */
	width:100%; 
	height:600px;
}

#secondiFrame {	
	margin: 1.5em 0 0 0;
	width:100%; 
	height: 450px
}


@media ( max-width : 991px) {
	#firstiFrame {
		height: 500px;
	}
	#secondiFrame {
		height: 400px;
	}
}

@media ( max-width : 860px) {	
	 .last {
		padding-bottom: 8%;
	}	
}

@media ( max-width : 768px) {
	#firstiFrame {
		/* height: 50vh; */
	}
	.days {
	width: 50%;
	display: inline-block;
	text-align: left;	
	}

	.hours {
		width: 50%;
		display: inline-block;
		padding-left: 0px;
	}
}