.background1, .background2 {
	display: block; /* TODO Remove the background */
}

a, a:focus {
	outline: none;
}

.navbar {
	min-height: 66px;
}

menu-default.nav>li>a {
	padding: 1px 15px;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	box-shadow: .01em .01em 2em .01em #825631 inset;
	color: #ffeac8;
	background-color: rgba(87, 59, 31, 0.6);
}

.nav .close>a, .nav .close>a:focus, .nav .close>a:hover {
	box-shadow: .01em .01em 2em .01em #825631 inset;
	color: #ffeac8;
	background-color: rgba(87, 59, 31, 0.6);
}

.open>.dropdown-menu {
	background-color: rgba(138, 90, 51, 1);
	border: 0;
	/*margin: 0;*/
	top: 97%;
}

.dropdown-menu {
	background-color: rgba(138, 90, 51, 1);
	border: 0;
	top: 97%;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	color: #ffeac8;
	text-decoration: none;
}

.container {
	color: #8B5E3C;
}

.last {
	padding-bottom: 0%;
}

h1 {
	display: inline-block;
	font-size: 3.6em;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

h1, h1>span {
	text-transform: uppercase;
}

h1>span {
	font-size: 0.65em;
}

.row div .karats_wrapper {
	/* width: 73%; */
	/* float: left; */
	margin: 0;
}

.row div .karats_container {
	display: inline-block;
	margin: 11px 8px;
	width: 65px;
	height: 65px;
	text-align: center;
	background-color: #fff;
	/*border: 3px solid #8B5E3C;*/
	border-radius: 8px;
	cursor: pointer;
}

.row div .karats_container:hover {
	background-color: #8B5E3C;
}

.row div .karats_container_small {
	font-size: 0.6em;
	vertical-align: top;
}

.karats {
	font-size: 3.0em;
	color: #8B5E3C;
	display: block;
	width: 100%;
	height: 100%;
	border: 3px solid #8B5E3C;
	border-radius: 8px;
	transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
}

.karats_small {
	padding: 10px 0px;
}

.karats:hover {
	color: #fff;
}

.karats_selected {
	background-color: #8B5E3C;
	color: #fff;
}

.big_price {
	font-size: 11em;
	padding-left: 8%;
}

.small_price {
	font-size: 3em;
	position: relative;
	bottom: 30%;
	border-bottom: 2px solid #fff;
}

#text {
	display: inline-block;
	/* position: relative; */
	font-size: 2em;
	/* bottom: 125px; */
    bottom: 53%;
  /*   left: 180px; */
    left: 64%;	
	margin: 0;
	margin-left: -17%;
}

.asterisk {
	font-size: 1.7em;
	line-height: 0;
}

#price_box, #age_box {
	display: inline-block;
	/* margin-top: 18px; */
	color: #fff;
}

#price_box {
	background: url('../ELEMENTS/box.png') center center;
	width: 282px;
	height: 235px;
	background-size: contain;
    background-repeat: no-repeat;
	margin: 0;
}

#age_box {
	background: url('../ELEMENTS/18.png') center center;
	width: 260px;
	height: 235px;
	margin: 0;
	margin-bottom: 10px;
	background-size: contain;
    background-repeat: no-repeat
}

.chart {
	width: 100%;
	text-align: center;
}

.chart p {
	text-align: center;
	font-family: "Arial", sans-serif;
	font-size: 16px;
	color: #bdc3c7;
}

canvas {
	transition: all .3s ease;
	width: 100%;
    height: auto;
    max-width: 600px;
    max-height: 400px;
}

.buying_header {
	font-size: 1.5em;
	display: block;
	width: 50%;
	margin: 0 auto;
	line-height: 25px;
}
.note{
	font-size: 16px;
}

.info {
	font-size: 1.5em;
	line-height: 1;
	vertical-align: middle;
	margin-top: 5%;
	margin-bottom: 5%;
	display: inline-block;
	width: 100%; 
}

.hiddenSideBannerImage {
	vertical-align: top;
	display: inline-block;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

.col-sm-6 div {
	display: inline-block; 
	text-align: end; 
	width: 90%;
}

#Line4, #Line5 {
	display: none;
}

/* button panel start */
#btn_panel {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 420px;
	padding-top: 35px;
}

#btn_panel ul {
	list-style-type: none;
	display: inline;
	padding: 0;
	margin: 0;
}

#btn_panel li {
	float: left;
	padding: 5px;
}

#btn_panel span:first-child {
	display: block;
	font-size: 22px;
	padding: 5px 0 0 0
}

#btn_panel span:last-child {
	display: block;
	font-size: 16px;
	padding: 7px 0 0 0;
}

#btn_panel li a {
	display: block;
	width: 60px;
	height: 65px;
	text-decoration: none;
	text-align: center;
	color: #565446;
	background: #fcfcfc;
	background-image: -moz-linear-gradient(100% 40% 270deg, #FFFFFF, #eaeaea, #f5f5f5 100%);
	background-image: -webkit-gradient(linear, 0% 45%, 0% 69%, from(#FFFFFF),
		to(#EDEDED), color-stop(.4, #F7F7F7));
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: #c0bca7 0px 1px 0px;
	-webkit-box-shadow: #c0bca7 0px 1px 0px;
	box-shadow: #c0bca7 0px 1px 0px;
	-webkit-transition: all .3s ease-out;
	opacity: .5;
}

#btn_panel li a.active_btn {
	color: #c33702;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	opacity: 1;
}

/* #btn_panel li:last-child a{color:#c33702; -moz-transform: scale(1.1); -webkit-transform: scale(1.1); -o-transform: scale(1.1); opacity:1;} */
#btn_panel li:hover a {
	color: #c33702;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	opacity: 1;
}

/* button panel end */
@media ( max-width : 991px) {
	/* .last {
		padding-bottom: 0%;
	} */
	.hiddenSideBanner {
		display: none;
	}
	.row div .karats_wrapper .first {
		margin-left: 0px;
	}
	#price_box {
		width: 265px;
		overflow: hidden;
	}
	.big_price {
		padding-left: 5%;
		font-size: 10em;
	}
	.small_price {
		bottom: 25%;
	}

	#text {
		bottom: 45%;
		left: 66%;
	}
}

@media ( max-width : 860px) {	
	 .last {
		padding-bottom: 8%;
	}	
}

@media ( max-width : 768px) {
	.last {
		padding-bottom: 8%;
	}
	.col-sm-4, .col-sm-6, .col-sm-12 {
		text-align: center;
	}
	.col-sm-6 {
		margin: 0;
	}
	.col-sm-6 div {
		margin: 0 auto;
		text-align: center;
	}
	.row div .karats_wrapper {
		width: 100%;
	}
	.right {
		text-align: center;
	}
	.left {
		text-align: center;
	}
	.big_price {
		padding-left: 0%;
	}
	#text {
		left: 35%;
	}
	.hiddenSideBannerImage {
		display: none;
	}
	#Line4, #Line5 {
		display: inline-block;
	}
	.info {
		margin-top: 0%;
	}
}