.gallery {
	background-color: white;
	padding: 1% 3% 8% 3%;
}

.row:first-child {
	clear: both;
}

.row div:hover {
	cursor: pointer;
	/*background-color: lightgrey;*/
	transform: scale(1.2);
	box-shadow: 0px 0px 50px 2px rgb(202, 202, 202);
	z-index: 100;
}

.gallery-menu-top {
	position: fixed;
	top: 65px;
	max-width: inherit;
	width: inherit;
	z-index: 101;
}

.active_icon {
	color: #333;
	background-color: transparent;
}

#filter {
	display: block;
	/* width: 100%; */
	/* height: 50px; */
	/* height: 3.1em; */
	/* margin: 0 9%; */
}

label {
	width: 175px;
	border-radius: 3px;
	border: 1px solid #D1D3D4
}

/* hide input */
input.radio:empty {
	/* margin-left: -999px; */
	display: none;
}

/* style label */
input.radio:empty ~ label {
	position: relative;
	float: left;
	line-height: 2.5em;
	text-indent: 3.25em;
	/* margin-top: 2em; */
	margin: 6px 16px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not (:checked ) ~ label:before {
	content: '\2714';
	text-indent: .9em;
	color: #C2C2C2;
}

input.radio:hover:not (:checked ) ~ label {
	color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
	content: '\2714';
	text-indent: .9em;
	color: #fff;
	background-color: #754E2C;
}

input.radio:checked ~ label {
	color: #777;
}

/* radio focus */
input.radio:focus ~ label:before {
	box-shadow: 0 0 0 3px #999;
}

.radioBtnContainer {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}

.radioDiv{
	margin: 0 auto;
	display: inline-block;
	text-align: left;
}

@media ( max-width : 47.9375em) {
	#galleryMenu ul.nav, #galleryMenu ul.nav>li, #galleryMenu ul.nav>li>a {
		display: inline-block;
	}
	#galleryMenu ul.navbar-right {
		float: right;
	}
	#galleryMenu ul.navbar-left {
		float: left;
	}
	#galleryMenu .dropdown-menu {
		position: absolute;
	}
	.gallery-menu-top {
		position: relative;
		top: 0;
		z-index: 1;
	}
}

@media ( max-width : 991px) {
	#filter {
		width: 80%;
		margin: 0 auto;
		position: relative
	}
	.radioBtnContainer{
		width: 100%;
	}
	.gallery {
		padding-bottom: 10%;
	}
}

@media ( max-width : 860px) {
	.gallery {
		padding-bottom: 23%;
	}
}

@media ( max-width : 768px) {
	.gallery {
		padding-bottom: 37%;
	}
	.price{
		font-size: font-size: 2.4em;
	}
}

.active_type {
	text-decoration: underline;
}

#types li {
	display: inline-block;
	padding: 1% 2%;
	text-transform: uppercase;
	transition: all 0.2s linear;
}

#types li:hover {
	background-color: #999;
}

#types li a {
	color: #552603;
	text-decoration: none;
	transition: all 0.2s linear;
}

#types li a:hover {
	color: #fff;
}

.categoryTitle {
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 2em;
	line-height: 0.7em;
	position: relative;
	bottom: 0.5em;
}

#galleryPager {
	clear: both;
	vertical-align: middle;
}

#pages {
	top: 7px;
	position: relative;
}

#popup {
	display: none;
}

#popup, #popup2, .bMulti {
	background-color: #fff;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 0 25px 5px #999;
	color: #111;
	display: none;
	
	/* min-width: 100%; */
	/* min-width: 43em; */
	max-width: 1100px;
	width: 90%;
	
	/*min-width: 640px;
	/* 	min-width: 43em; //
	max-width: 700px;
	padding: 25px; */
	
}

#popup .logo {
	color: #2b91af;
	font: bold 325% 'Petrona', sans
}

#popup, .bMulti {
	/* min-height: 25em; */
	/* min-height: 250px; */
}

.b-close {
	border-radius: 7px;
	font: bold 131% sans-serif;
	padding: 0 6px 2px;
	background-color: #2b91af;
	color: #fff;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	position: absolute;
	right: -7px;
	top: -7px;
}
.b-close:hover {
	background-color: #1e1e1e;
}

.leftPart, .rightPart, .bottomPart, .thumbnail, .thumbnailBracelets {
	display: inline-block;
}
.leftPart, .rightPart {
	width: 50%;
	width: 50%; 
}
.leftPart {
	float: left;
}
.topPart {
	
}
.rightPart {	
	vertical-align: top;
	top: 24%;
}

.bottomPart {
	width: 90%;
	padding-left: 5%;
}

.thumbnail{
	width: 25%; 
}

.thumbnailBracelets {
	width: 30%;
	margin: 0 10px;
}

.sort.dropdown-menu {
	background-color: rgba(255, 255, 255, 1);
	border: 0;
	top: 97%;
}

.sort.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	color: #754E2C;
	text-decoration: none;
}

input[type=checkbox], input[type=radio] {
	margin: -15px 0 0;
}