.gallery {
	background-color: white;
	padding: 1% 3% 8% 3%;
	text-align: center;
}

.row:first-child {
	clear: both;
}

.row div:hover {
	cursor: pointer;
	/*background-color: lightgrey;*/
	transform: scale(1.1);
	box-shadow: 0px 0px 50px 2px rgb(202, 202, 202);
	z-index: 100;
}

.gallery-menu-top {
	position: fixed;
	top: 65px;
	max-width: inherit;
	width: inherit;
	z-index: 101;
}

.active_icon {
	color: #333;
	background-color: transparent;
}

.searchSectionContainer {
	float: right;
}

.searchSectionContainer:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.searchSection {
	padding: 0;
    color: #777;
    margin: 0;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    font-size: 1.4em;
    padding: 0px 15px;
    /* display: none; */
}

.searchSection label {
	display: inline;
	border: 0; 
	font-size: 0.8em;
}

.searchSection input {
	display: inline; 
	width: initial;
}

.searchSection input:focus, .searchSection input:active {
	outline: 0;
}
.btn:focus,.btn:active {
   outline: none !important;
}

.searchSection .clear {
	display: block;
	font-size: 0.7em;
	color: #777;
	font-weight: bold;
	text-decoration: none;
	padding: 5px;
}

#filter {
	display: block;
	width: 100%; 
	/* height: 50px; */
	/* height: 3.1em; */
	/* margin: 0 9%; */
}
#filter > div:first-child {
	bottom: 0.5em; 
	text-align: right;
}

label {
	width: 180px;
	border-radius: 3px;
	border: 1px solid #D1D3D4;
	font-size: 0.9em;
}

/* hide input */
input.radio:empty {
	/* margin-left: -999px; */
	display: none;
}

/* style label */
input.radio:empty ~ label {
	position: relative;
	float: left;
	line-height: 2.5em;
	text-indent: 3.25em;
	/* margin-top: 2em; */
	margin: 6px 16px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not (:checked ) ~ label:before {
	content: '\2714';
	text-indent: .9em;
	color: #C2C2C2;
}

input.radio:hover:not (:checked ) ~ label {
	color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
	content: '\2714';
	text-indent: .9em;
	color: #fff;
	background-color: #754E2C;
}

input.radio:checked ~ label {
	color: #777;
}

/* radio focus */
input.radio:focus ~ label:before {
	box-shadow: 0 0 0 3px #999;
}
.radioBtnWrapper{
	text-align: center;
	width: 100%;
	margin: 0 auto;
}
.radioBtnContainer {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}

.radioDiv{
	margin: 0 auto;
	display: inline-block;
	text-align: left;
}

@media ( max-width : 47.9375em) {
	#galleryMenu ul.nav, #galleryMenu ul.nav>li, #galleryMenu ul.nav>li>a {
		display: inline-block;
	}
	#galleryMenu ul.navbar-right {
		float: right;
	}
	#galleryMenu ul.navbar-left {
		float: left;
	}
	#galleryMenu .dropdown-menu {
		position: absolute;
	}
	.gallery-menu-top {
		position: relative;
		top: 0;
		z-index: 1;
	}
}

@media ( max-width : 991px) {
	#filter {
		margin: 0 auto;
		position: relative
	}
	.radioBtnContainer{
		width: 100%;
	}
	.gallery {
		padding-bottom: 10%;
	}
}

@media ( max-width : 860px) {
	.gallery {
		padding-bottom: 23%;
	}
}

@media ( max-width : 768px) {
	.gallery {
		padding-bottom: 37%;
	}
	.price{
		font-size: font-size: 2.4em;
	}
	.navbar-nav .open .dropdown-menu {
		background-color: rgba(255, 255, 255, 1);
		-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
		box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	}
}

@media ( max-width : 705px) {
	.radioBtnWrapper {
		width: 65%;
	}
}

@media ( max-width : 460px) {
    #filter > div:first-child {
		text-align: center;
	}
	.searchSection label {
		display: block;
	}

	.searchSection input {
		display: block; 
		text-align: center;
		margin: 5px auto;
	}
	
	.searchSection .clear {
		padding-top: 0px;
	}
	
	.navbar-nav {
		 margin: 0px;
	}
}

.active_type {
	text-decoration: underline;
}

#types li {
	display: inline-block;
	padding: 1% 2%;
	text-transform: uppercase;
	transition: all 0.2s linear;
}

#types li:hover {
	background-color: #999;
}

#types li a {
	color: #552603;
	text-decoration: none;
	transition: all 0.2s linear;
}

#types li a:hover {
	color: #fff;
}

.categoryTitle {
	/* display: inline-block; */
	/* line-height: 0.7em; */	/* uncomment this for previous version with searchBox placed by the sort section */
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 2em;	
	position: relative;
	/* bottom: 0.5em; */
}

#popup {
	display: none;
}

#popup, #popup2, .bMulti {
	background-color: #fff;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 0 25px 5px #999;
	color: #111;
	display: none;
	
	/* min-width: 100%; */
	/* min-width: 43em; */
	max-width: 1100px;
	width: 90%;
	
	/*min-width: 640px;
	/* 	min-width: 43em; //
	max-width: 700px;
	padding: 25px; */
	
}

#popup .logo {
	color: #2b91af;
	font: bold 325% 'Petrona', sans
}

#popup, .bMulti {
	/* min-height: 25em; */
	/* min-height: 250px; */
}

.b-close {
	border-radius: 7px;
	font: bold 131% sans-serif;
	/*padding: 0 6px 2px;*/
	/*background-color: #2b91af;*/
	color: #fff;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	position: absolute;
	right: 5px;    top: 5px;
	width: 50;
	height: 50;
	background-image: URL("../close_icon.png");
	background-repeat: round;
}
.b-close:hover {
	/*background-color: #1e1e1e;*/
	background-image: URL("../close_icon_hover.png");
}

.leftPart, .rightPart, .bottomPart, .thumbnail, .thumbnailBracelets {
	display: inline-block;
}
.leftPart, .rightPart {
	width: 50%;
	width: 50%; 
}
.leftPart {
	float: left;
}
.topPart {
	
}
.rightPart {	
	vertical-align: top;
	top: 24%;	margin-top: 5%;
}

.bottomPart {
	width: 90%;
	padding-left: 5%;
}

.thumbnail{
	width: 20%; 
	cursor: pointer;
}

.thumbnailBracelets {
	width: 30%;
	margin: 0 10px;
	cursor: pointer;
}
.imageContainer{
	text-align: center;
}
.bottomPart .description {
	padding-bottom: 2%;
}
hr {
	width: 90%;
}
.sort.dropdown-menu {
	background-color: rgba(255, 255, 255, 1);
	border: 0;
	top: 97%;
}

.sort.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	color: #754E2C;
	text-decoration: none;
}

input[type=checkbox], input[type=radio] {
	margin: -15px 0 0;
}

.pagination li.active>a {
	background-color: rgba(87, 59, 31, 0.6);
	border-color: rgba(87, 59, 31, 0.6);
}