body {
	font-size: 16px;
	font-family: 'Open Sans', Arial, sans-serif;
}
.background1 {
	position:fixed;
	left:0;
	width:50%;
	height:100%;
	background: URL('box_background.png');
	z-index:-1;
	opacity:0.8;
}
.background2 {
	position:fixed;
	right:0;
	width:50%;
	height:100%;
	background: URL('box_background.png');
	z-index:-1;
	opacity:0.8;
}
#mainBanner {
	max-width: 100%;
	width: 100%;
}
#footerContainer {
	max-width: 100%;
	width: 100%;
}
.img-responsive {
	margin:auto;
}
.container {
	padding:0;
	background-color: white;
	max-width: 67.5em;
}
.last {
	margin-bottom: 3em;
}
.navbar .container-fluid {
	padding-left: 3em;
	padding-right: 3em;
}
.menu-default {
	width: 100%;
	position: absolute;
	bottom:0;
	margin:0;
	background: transparent;
	border-color: transparent;
}
.menu-top {
	position:fixed;
	top:0;
	max-width:inherit;
	width:inherit;
	z-index:102;
}
.menu-default .nav a {
	color: #552603;
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}
.menu-top .nav a {
	color: #deb085;
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}
.menu-default .nav>li a:hover,
.menu-default .nav .open a:hover,
.menu-default .nav>li a:focus, .menu-default .nav .open a:focus {
	background: transparent;
	box-shadow:.01em .01em 2em .01em #825631 inset;
	color: #ffeac8;
}
.menu-top .nav>li a:hover,
.menu-top .nav .open a:hover,
.menu-default .nav .dropdown-menu a:hover,
.menu-top .nav>li a:focus, .menu-top .nav .open a:focus, .menu-default .nav .dropdown-menu a:focus {
	background: transparent;
	box-shadow:.01em .01em 2em .01em #f6f0e9 inset;
	color: #966941;
}
.row {
	margin:0 0.625em;
	background-color: white;
}
.row div {
	margin:1.5em 0 0 0;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}
.footer {
	/*margin-top: 3em;*/
}
.footer .navbar {
	margin: 0;
}
.footer .nav>li a:hover, .footer .nav>li a:focus {
	background: transparent;
	box-shadow:.01em .01em 2em .01em #f6f0e9 inset;
}
.menu-default li.active>a {
	color: #ffeac8;
	background: transparent;
}
.menu-top li.active>a {
	color: #966941;
	background: transparent;
}
@media (max-width: 47.9375em) {
	.menu-default {
		position:fixed;
		top:0;
		bottom:initial;
		z-index:100;
	}
	.navbar .container-fluid {
		padding: 0;
	}
}